<div class="container text-center"> <img class="image" src="/assets/img/burger2.jpg" alt="Burger Banner"></div>
<div class="text-center">
    <h1 class="font-weight-bold">Eat the Burger
    </h1>
</div>


<br>
<div class="container text-center">
    <div class="row">
        <div class="col-sm">
            <h2>Menu</h2>
            <ul>
                {{#each burgers}} {{#unless devoured}}
                <li>{{burger_name}} <button class="change-devour">Devour it!</button></li> {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col-sm">
            <h2>In my Belly!</h2>
            <ul>
                {{#each burgers}} {{#if devoured}}
                <li>{{burger_name}}</li> {{/if}} {{/each}}
            </ul>
        </div>

    </div>
</div>
</div>


<!-- form -->



<br>
<h2 class="text-center">Add a Burger</h2>
<form class="create-form text-center">

    <div class="form-group">
        <label for="burger-name">Burger Name:</label>
        <input type="text" id="burger-name" name="name">
    </div>

    <button type="submit">Add Burger to Menu</button>
</form>

<script type="text/javascript">
    $(function () {
        $(".change-devour").on("click", function (event) {
            var id = $(this).data("id");
            var newDevour = $(this).data("newDevour");

            var newlyDevoured = {
                devoured: "false"
            };
            console.log(newlyDevoured);
            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newlyDevoured
            }).then(
                function () {
                    console.log("changed state to", newDevour);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var newBurger = {
                name: $("#burger-name").val().trim(),
                devoured: false
            };
            console.log(newBurger);

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });

</script>